<p id="notice"><%= notice %></p>


<div class="container">
  <h1 class="display-3">Project Portfolio</h1>
  <p>Project Portfolio created by Shawn Ringler for Intro to Software Engineering, CS3300 at UCCS.</p>
  <p>Hello, my name is Shawn Ringler. I am a student at UCCS stuyding Computer Science in my senior year. I plan on gradutating this fall 2021. Below are a list of the Projects I have worked on during my time at UCCS.</p>
</div>

<div class="container">
  <div class="row">
      <div class="col">
        <h3>Title</h3>
      </div>
      <div class="col">
        <h3>Description</h3>
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>

    <% @projects.each do |project| %>
      <div class="row">
        <div class="col">
          <%= project.title %>
        </div>
        <div class="col-md-4">
          <%= project.description %>
        </div>
        <div class="col">
          <div class="btn btn-secondary" style="color: black;">
            <%= link_to 'Show', project %>
          </div>
        </div>
        <% if user_signed_in? %>
          <div class="col">
            <div class="btn btn-secondary">
            <%= link_to 'Edit', edit_project_path(project) %>
            </div>  
          </div>
          <div class="col">
            <div class="btn btn-secondary">
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>  
          </div>
        <% else %>
          <div class="col"> </div>
          <div class="col"> </div>
        <% end %>
      </div>
    <% end %>

</div>

<br>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <% if user_signed_in? %>
        <div class="btn btn-primary">
          <%= link_to 'New Project', new_project_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>
